{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital@1&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" />
</head>

<body>
    <header>
        <!--NavBar Section-->
        <div class="navbar">
                    <li class="nav-item"><a href="{% url 'inicio' %}">Pagina inicio</a></li>
                    <li class="nav-item"><a href="{% url 'home' %}">Home</a></li>
                    {% if user.is_authenticated %}
                    <li class="nav-item"><a href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                    <li class="nav-item"><a href="{% url 'signup' %}">Registrarse</a></li>
                    <li class="nav-item"><a href="{% url 'signin' %}">Login</a></li>
                    {% endif %}
            <div class="brand">Foro</div>
            {% if user.is_authenticated %}
            <div style="font-size:40px;font-weight:300px; margin-left:100px;"><a href="{% url 'create_post' %}">+</a></div>
            {% endif %}
        </div>
        <!--SearchBox Section-->
                <form action="{% url 'search_result' %}" role="form" method="GET">
                <div class="search-box">
                    <div>
                        <select name="search-box" id="">
                            <option value="Everything">Todo</option>
                            <option value="Titles">Titulos</option>
                            <option value="Descriptions">Descripciones</option>
                        </select>
                        <input type="text" name="q" placeholder="Buscar ...">
                        <button type="submit" name="search"><i class="fa fa-search"></i></button>
                    </div>
                </div>
                </form>
    </header>
    {% block content %}
    {% endblock content %}

    <footer>
        <span>&copy; Eco-Connection | Derechos reservados </span>
    </footer>
</body>
</html>